@font-face {
  font-family: "Larsseit";
  src: url(../assets/fonts/Larsseit.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url(../assets/fonts/Larsseit-Light.otf) format("opentype");
  // font-weight: 600;
  font-style: light;
}

@font-face {
  font-family: "Larsseit";
  src: url(../assets/fonts/Larsseit-Bold.otf) format("opentype");
  // font-weight: 600;
  font-style: bold;
}
